.time-off{
	margin: 0 auto;
	width: 200px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: silver;
}
p{
	font-family: non-serif;
	font-size: 30px;
	color: blue;
}